/* Add CSS here */
*{
  box-sizing: border-box;
}

body{
  background-color: rgb(166, 202, 198);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: serif;
  position: relative;

}

h1{
  overflow: hidden;
  top: 380px;
  font-size: 30px;
  text-align: center;
  padding-top: -50px;
}
.container{
text-align: center;
align-items: center;
border: 1px solid black;
width: 80%;
padding: 100px;
margin: 50px;
padding: 100px;
overflow: hidden;
background-color: rgba(0,0,0,0.3);
}

progress{
  height: 30px;
  margin-top: 40px;
  width: 250px;
  position: relative;
}

button{
  font-size: 15px;
  background-color: rgb(173, 231, 233);
 margin: 34px;
 padding: 10px;
 border-radius: 8px;
 color: black;
 border: none;
 cursor: pointer;

}
button:hover{
  opacity: 0.5;
  
}

button:focus{
  outline: 0;
}

@media (max-width: 530px){
.container {
    
    margin: 100px;
      height: 40% ;
     
      
  
  }

h1 {
   overflow: hidden;
   top: 380px;
   font-size: 15px;

}
progress {
   height: 10px;
   margin-top: 10px;
   width: 150px;
   position: relative;
   right: 50%;
}
      button {
          font-size: 5px;
          background-color: rgb(173, 231, 233);
          margin: 15px;
          padding: 5px;
          border-radius: 8px;
          color: black;
  
      }
      
}